header {
    background-color: bisque;
    color: brown;
    padding: 50;
    text-align: left;

}

body {
    font-family: 'Times New Roman', Times, serif; /* i like this  font */
    margin: 0;
    padding: 0;
    color: blueviolet;



}
